@tailwind base;
@tailwind components;
@tailwind utilities;




body {

    background: linear-gradient(-45deg, #d1d1d1, #e7e7e7, #ffffff);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }